.menu-container{
display: flex;
flex-wrap: wrap;
gap: 75px;
padding: 30px;
margin-bottom: 1rem;
font-family: "Merriweather", serif;
background: url('./../images/food.jpeg');
background-size: cover;
}

.button:hover{
  background: lightpink;
}

  